.drag-container{
    height: 90px;
    width: 220px;
    border: 1px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 100px;

}